<a href="https://colab.research.google.com/github/prissyyy/Studi-Independen/blob/main/Training_Bussiness_MBA_Grup4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

[Sumber Data from Kaggle: E-Commerce Data](https://www.kaggle.com/carrie1/ecommerce-data/version/1)

In [14]:
!wget --no-check-certificate \
    https://github.com/prissyyy/Studi-Independen/blob/main/Data_Set/E-Commerce-Data.zip?raw=true \
    -O /tmp/E-Commerce-Data.zip

--2021-10-15 13:05:20--  https://github.com/prissyyy/Studi-Independen/blob/main/Data_Set/E-Commerce-Data.zip?raw=true
Resolving github.com (github.com)... 140.82.113.4
Connecting to github.com (github.com)|140.82.113.4|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://github.com/prissyyy/Studi-Independen/raw/main/Data_Set/E-Commerce-Data.zip [following]
--2021-10-15 13:05:20--  https://github.com/prissyyy/Studi-Independen/raw/main/Data_Set/E-Commerce-Data.zip
Reusing existing connection to github.com:443.
HTTP request sent, awaiting response... 302 Found
Location: https://raw.githubusercontent.com/prissyyy/Studi-Independen/main/Data_Set/E-Commerce-Data.zip [following]
--2021-10-15 13:05:20--  https://raw.githubusercontent.com/prissyyy/Studi-Independen/main/Data_Set/E-Commerce-Data.zip
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.111.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 7548686 (7.2M) [application/zip]
Saving to: ‘/tmp/E-Commerce-Data.zip’

/tmp/E-Commerce-Dat 100%[===================>]   7.20M  --.-KB/s    in 0.04s

2021-10-15 13:05:20 (170 MB/s) - ‘/tmp/E-Commerce-Data.zip’ saved [7548686/7548686]

# Implementing market basket analysis

In [8]:
import numpy as np
import pandas as pd
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules

In [29]:
df

       InvoiceNo StockCode  ... CustomerID         Country
0         536365    85123A  ...    17850.0  United Kingdom
1         536365     71053  ...    17850.0  United Kingdom
2         536365    84406B  ...    17850.0  United Kingdom
3         536365    84029G  ...    17850.0  United Kingdom
4         536365    84029E  ...    17850.0  United Kingdom
...          ...       ...  ...        ...             ...
541904    581587     22613  ...    12680.0          France
541905    581587     22899  ...    12680.0          France
541906    581587     23254  ...    12680.0          France
541907    581587     23255  ...    12680.0          France
541908    581587     22138  ...    12680.0          France

[532621 rows x 8 columns]

In [30]:
#Reading Data From github
df = pd.read_csv('/tmp/E-Commerce-Data.zip',encoding= 'unicode_escape')
df.head(10)

  InvoiceNo StockCode  ... CustomerID         Country
0    536365    85123A  ...    17850.0  United Kingdom
1    536365     71053  ...    17850.0  United Kingdom
2    536365    84406B  ...    17850.0  United Kingdom
3    536365    84029G  ...    17850.0  United Kingdom
4    536365    84029E  ...    17850.0  United Kingdom
5    536365     22752  ...    17850.0  United Kingdom
6    536365     21730  ...    17850.0  United Kingdom
7    536366     22633  ...    17850.0  United Kingdom
8    536366     22632  ...    17850.0  United Kingdom
9    536367     84879  ...    13047.0  United Kingdom

[10 rows x 8 columns]

In [11]:
df['InvoiceNo'].value_counts()

573585     1114
581219      749
581492      731
580729      721
558475      705
           ...
C554010       1
568081        1
C550300       1
560939        1
554852        1
Name: InvoiceNo, Length: 25900, dtype: int64

In [12]:
df['Description'].value_counts()

WHITE HANGING HEART T-LIGHT HOLDER     2369
REGENCY CAKESTAND 3 TIER               2200
JUMBO BAG RED RETROSPOT                2159
PARTY BUNTING                          1727
LUNCH BAG RED RETROSPOT                1638
                                       ...
Dagamed                                   1
John Lewis                                1
MIA                                       1
SET 10 CARDS SWIRLY XMAS TREE 17104       1
SET OF 6 EASTER RAINBOW CHICKS            1
Name: Description, Length: 4223, dtype: int64

# Data Preparation

In [15]:
df['Description'] = df['Description'].str.strip() #menghilangkan spasi
df.dropna(axis=0, subset=['InvoiceNo'], inplace=True) #menghilangkan adanya data yang duplikat
df['InvoiceNo'] = df['InvoiceNo'].astype('str') #mengkonversi angka invoice ke string
df = df[~df['InvoiceNo'].str.contains('C')] #menghilangkan credit pada transaksi
df.head()

  InvoiceNo StockCode  ... CustomerID         Country
0    536365    85123A  ...    17850.0  United Kingdom
1    536365     71053  ...    17850.0  United Kingdom
2    536365    84406B  ...    17850.0  United Kingdom
3    536365    84029G  ...    17850.0  United Kingdom
4    536365    84029E  ...    17850.0  United Kingdom

[5 rows x 8 columns]

In [16]:
df['Country'].value_counts()
#df.shape

United Kingdom          487622
Germany                   9042
France                    8408
EIRE                      7894
Spain                     2485
Netherlands               2363
Belgium                   2031
Switzerland               1967
Portugal                  1501
Australia                 1185
Norway                    1072
Italy                      758
Channel Islands            748
Finland                    685
Cyprus                     614
Sweden                     451
Unspecified                446
Austria                    398
Denmark                    380
Poland                     330
Japan                      321
Israel                     295
Hong Kong                  284
Singapore                  222
Iceland                    182
USA                        179
Canada                     151
Greece                     145
Malta                      112
United Arab Emirates        68
European Community          60
RSA                         58
Lebanon                     45
Lithuania                   35
Brazil                      32
Czech Republic              25
Bahrain                     18
Saudi Arabia                 9
Name: Country, dtype: int64

In [17]:
#memisahkan/memfokuskan ke negara Germany
mybasket = (df[df['Country'] =="Germany"]
          .groupby(['InvoiceNo', 'Description'])['Quantity']
          .sum().unstack().reset_index().fillna(0)
          .set_index('InvoiceNo'))

In [18]:
#melihat transaksi yang ada pada basket(keranjang)
mybasket.head()

Description  10 COLOUR SPACEBOY PEN  ...  ZINC WILLIE WINKIE  CANDLE STICK
InvoiceNo                            ...
536527                          0.0  ...                               0.0
536840                          0.0  ...                               0.0
536861                          0.0  ...                               0.0
536967                          0.0  ...                               0.0
536983                          0.0  ...                               0.0

[5 rows x 1695 columns]

In [19]:
#mengkonversi seluruh nilai positif menjadi 1 dan sisanya menjadi 0
def my_encode_units(x):
    if x <= 0:
        return 0
    if x >= 1:
        return 1

my_basket_sets = mybasket.applymap(my_encode_units)
my_basket_sets.drop('POSTAGE', inplace=True, axis=1)

# Training Model

In [20]:
#men-generate frekuensi data menggunakan algoritma apriori
my_frequent_itemsets = apriori(my_basket_sets, min_support=0.07, use_colnames=True)

In [21]:
my_frequent_itemsets.head(10)

    support                           itemsets
0  0.102845           (6 RIBBONS RUSTIC CHARM)
1  0.070022        (ALARM CLOCK BAKELIKE PINK)
2  0.072210                (GUMBALL COAT RACK)
3  0.091904           (JAM MAKING SET PRINTED)
4  0.078775          (JUMBO BAG RED RETROSPOT)
5  0.100656       (JUMBO BAG WOODLAND ANIMALS)
6  0.078775               (LUNCH BAG WOODLAND)
7  0.085339  (PACK OF 72 RETROSPOT CAKE CASES)
8  0.115974    (PLASTERS IN TIN CIRCUS PARADE)
9  0.107221         (PLASTERS IN TIN SPACEBOY)

In [22]:
#men-generate aturan
my_rules = association_rules(my_frequent_itemsets, metric="lift", min_threshold=1)

In [23]:
#melihat top 100 data teratas
my_rules.head(100)

                            antecedents  ... conviction
0    (PLASTERS IN TIN WOODLAND ANIMALS)  ...   1.640006
1  (ROUND SNACK BOXES SET OF4 WOODLAND)  ...   1.237951
2   (ROUND SNACK BOXES SET OF 4 FRUITS)  ...   4.529540
3  (ROUND SNACK BOXES SET OF4 WOODLAND)  ...   1.814509
4                  (SPACEBOY LUNCH BOX)  ...   2.365427
5  (ROUND SNACK BOXES SET OF4 WOODLAND)  ...   1.256018

[6 rows x 9 columns]

# Making reecommendations

In [24]:
my_basket_sets['ROUND SNACK BOXES SET OF4 WOODLAND'].sum()

112

In [25]:
my_basket_sets['PLASTERS IN TIN WOODLAND ANIMALS'].sum()

63

In [26]:
#Filtering rules based on condition
my_rules[ (my_rules['lift'] >= 1) & 
       (my_rules['confidence'] >= 0.3) ]

                            antecedents  ... conviction
0    (PLASTERS IN TIN WOODLAND ANIMALS)  ...   1.640006
1  (ROUND SNACK BOXES SET OF4 WOODLAND)  ...   1.237951
2   (ROUND SNACK BOXES SET OF 4 FRUITS)  ...   4.529540
3  (ROUND SNACK BOXES SET OF4 WOODLAND)  ...   1.814509
4                  (SPACEBOY LUNCH BOX)  ...   2.365427

[5 rows x 9 columns]